<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Os dois codigos acima foram tirados do site materialize-->
    <title><%= pageTitle %></title>
</head>

<body class="yellow lighten-4">
    <nav class="deep-orange darken-4">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Pastelaria Sincera</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/criar">Criar</a></li>
            </ul>
        </div>
    </nav>