<%- include('headNav.ejs', { pageTitle: 'Bem-vindos' }) %>
    <section class="container">
        <p>Sejam bem-vindos</p>
        <p class="text-justify">
            Bem-vindos à Pastelaria Sincera, onde os pastéis são tão incríveis que até o padeiro já sonhou em abrir uma fábrica de abraços em formato de comida! E não se preocupe, a Pastelaria Sincera é um lugar onde as calorias ficam envergonhadas e os sorrisos se multiplicam. Então, venha se deliciar em nossa casa de maravilhas pastelísticas, onde a única regra é deixar sua dieta do lado de fora e se render à tentação. Na Pastelaria Sincera, nós entendemos que a vida é curta demais para comer pastéis sem graça. Por isso, nossos chefs trabalham dia e noite, com uma pitada de amor e uma colherada de criatividade, para levar até você a mais pura e crocante felicidade em forma de pastel. Estamos ansiosos para recebê-lo na Pastelaria Sincera, onde cada mordida é um abraço apertado no seu paladar e onde a alegria é frita, recheada e servida com um sorriso. Venha fazer parte da nossa família de amantes de pastéis e descubra um mundo onde a felicidade é um pedaço de massa frita!</p>
        <img src="https://cdn0.tudoreceitas.com/pt/posts/1/8/2/50_recheios_de_pastel_faceis_de_fazer_8281_orig.jpg" alt="">
    </section>
    <script src="index.js"></script>
</body>

</html>